.container {
    background-color: #FFF9E9;
    text-align: center;
    font-size: 30px;
    font-family: HoneywellSansWeb-Medium, Arial;
    font-weight: bold;
    padding: 30px 0;
    width: 100%;
}
img{
height: 45px;
}